.logo {
  width: 7rem;
  pointer-events: none;
}

.header {
  background-color: #2f343e;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 2.5rem;
  border-bottom: 1px solid #464c5a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: 1rem;
  box-shadow: 0 0px 5px 3px #0a0c0e77;
}

.viewArea {
  position: absolute;
  top: 2.5rem;
  height: calc(100vh - 2.5rem);
  width: 100vw;
  border: 2px solid #0a0c0e;
  border-radius: 10px;
  overflow: hidden;
}

.editArea {
  position: absolute;
  background-color: #21242a;
  background-image: radial-gradient(circle at 1px 1px, #636d81 1px, transparent 0), radial-gradient(circle at 40px 1px, #464c5a 1px, transparent 0), radial-gradient(circle at 1px 40px, #464c5a 1px, transparent 0);
  background-size: 80px 80px, 80px 80px, 80px 80px;
  height: 500%;
  width: 500%;
}

.box {
  position: absolute;
  z-index: 1;
  background-color: #2f343e;
  border: 1px solid #868fa2;
  border-radius: 6px;
  box-shadow: 2px 2px 5px 3px #0a0c0e;
  font-size: 0.9rem;
}

.box h3 {
  text-align: center;
  border-radius: 6px 6px 0 0;
  margin: 0;
  padding: 0.3rem;
  padding-top: 1.2rem;
  font-size: 1rem;
  font-weight: bold;
}

.box h3::after {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0.3rem;
  font-size: 0.8rem;
  font-weight: lighter;
}

.box h4 {
  text-align: left;
  margin: 0;
  padding: 0.3rem;
}

.box>.node {
  position: absolute;
  top: 0.2rem;
  left: -0.5rem;
  width: 1rem;
  height: 1rem;
  border: 1px solid #868fa2;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px #0a0c0e;
}

.node.event {
  background-color: #008106;
}

.node.status {
  background-color: #0074a3;
}

.node.scene {
  background-color: #e2660f;
}

.verticalList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.7rem;
  padding-top: 0;
}

.verticalList div {
  margin-left: 0.7rem;
}

.menuBox {
  z-index: 10;
}

.menuBox h3 {
  background-color: #4d5564;
}

.menuBox h3::after {
  content: "Menu";
}

.menuBox>div {
  padding: 0.7rem;
  padding-top: 0;
}

.eventBox {
  min-height: 10rem;
  min-width: 15rem;
}

.eventBox h3 {
  background-color: #008106;
}

.eventBox h3::after {
  content: "Event";
}

.action {
  background-color: #4d5564;
  position: relative;
  width: 100%;
  border-radius: 3px;
  padding: 0.3rem;
  margin-bottom: 0.2rem;
}

.action>.node {
  position: absolute;
  top: 0.4rem;
  right: -0.5rem;
  width: 1rem;
  height: 1rem;
  border: 1px solid #868fa2;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px #0a0c0e;
}

.statusBox {
  min-height: 10rem;
  min-width: 15rem;
}

.statusBox h3 {
  background-color: #0074a3;
}

.statusBox h3::after {
  content: "Status";
}

/* Driving color choice: 282c34 */
