* {
  box-sizing: border-box;
}

body {
  background-color: #0a0c0e;
  color: #efefef;
  margin: 0;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
