button {
  color: #fff;
  background-color: #0074a3;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
}

button:disabled {
  background-color: #464c5a;
  cursor: auto;
}

button.inactive {
  background-color: #464c5a;
  cursor: auto;
}

button.red {
  background-color: #a84646;
}

button.green {
  background-color: #008106;
}

.logo {
  width: 7rem;
  pointer-events: none;
}

.header {
  background-color: #2f343e;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 2.5rem;
  border-bottom: 1px solid #464c5a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  box-shadow: 0 0 5px 3px #0a0c0e77;
}

.header .title {
  color: #1bbdff;
  padding: 1px 0 1px 20px;
}

.header input {
  appearance: none;
  background-color: #2f343e;
  border: 1px solid #868fa2;
  border-radius: 0;
  color: #efefef;
  margin: 0 10px;
  cursor: pointer;
  outline: none;
  padding: 0;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  line-height: 1;
}

.headerLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.headerRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

.menuButton {
  background-color: #0074a3;
  padding: 1px 20px;
  border-radius: 3px;
  margin: 0 20px;
  cursor: pointer;
}

.menuButton + .menuButton {
  margin-left: 0px;
}

.menuButton.inactive {
  background-color: #464c5a;
  cursor: auto;
}

.fullscreenDialog {
  position: fixed;
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #464c5aaa;
  z-index: 1000;
}

.dialogWindow {
  position: relative;
  display: inline-block;
  height: 24vw;
  width: 50vw;
  top: 10vw;
  left: 25vw;
  background-color: #464c5a;
  border: 2px solid #ddd;
  border-radius: 6px;
}

.dialogTitle {
  padding: 2vw;
  padding-top: 4vw;
  font-size: 3vw;
  text-align: center;
  width: 100%;
  background-color: #2f343e;
  border-radius: 6px 6px 0 0;
}

.dialogTitle.error {
  background-color: #a84646;
}

.dialogMessage {
  padding: 2vw;
  padding-top: 1vw;
  font-size: 1.8vw;
  text-align: center;
  width: 100%;
}

.dialogRetry {
  padding: 2vw;
  padding-top: 1vw;
  font-size: 1.8vw;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.viewArea {
  position: absolute;
  top: 2.5rem;
  height: calc(100vh - 2.5rem);
  width: 100vw;
  border: 2px solid #0a0c0e;
  border-radius: 10px;
  overflow: hidden;
}

.deleteConfirmMenu {
  position: absolute;
  z-index: 10;
  width: 200px;
  background-color: #2f343e;
  border: 1px solid #868fa2;
  border-radius: 6px;
  box-shadow: 2px 2px 5px 3px #0a0c0e;
  font-size: 0.9rem;
}

.deleteConfirmMenu .title {
  background-color: #a84646;
  text-align: center;
  margin: 0;
  border-radius: 6px 6px 0 0;
  padding: 0.3rem;
  font-size: 1rem;
  font-weight: bold;
}

.deleteConfirmMenu .description {
  background-color: #4d5564;
  text-align: center;
  margin: 0;
  border-radius: 0;
  padding: 0.3rem 0.3rem 0 0.3rem;
  font-size: 1rem;
}

.deleteConfirmMenu .id {
  background-color: #4d5564;
  text-align: center;
  margin: 0;
  border-radius: 0;
  padding: 0 0.3rem 0.3rem 0.3rem;
  font-size: 0.7rem;
}

.deleteConfirmMenu .deleteConfirm {
  background-color: #a84646;
}

.multiButton {
  display: flex;
  justify-content: space-evenly;
}

.multiButton>div {
  padding: 0.3rem;
  cursor: pointer;
}

.multiButton>div:hover {
  outline: #efefef88 solid 2px;
}

.sceneMenu {
  position: absolute;
  top: calc(2.5rem - 1px);
  display: flex;
  z-index: 101;
  padding: 0.3rem;
  background-color: #2f343e;
  border-radius: 0 0 6px 0;
  border-right: 1px solid #464c5a;
  border-bottom: 1px solid #464c5a;
  box-shadow: 5px 5px 5px -2px #0a0c0e77;
  font-size: 1rem;
}

.sceneMenu .title {
  padding: 0.3rem;
  margin: 0;
  font-weight: normal;
}

.sceneMenu .select {
  appearance: none;
  position: relative;
  color: #efefef;
  background-color: #2f343e;
  border: 1px solid #868fa2;
  border-radius: 0;
  padding: 0.3rem;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1;
}

.deleteScene {
  font-size: 0.7rem;
  padding: 0 0.7rem;
  cursor: pointer;
  border-right: 1px solid #efefef;
}

.newScene {
  font-size: 0.7rem;
  padding: 0 0.7rem;
  cursor: pointer;
}

.addMenu {
  position: absolute;
  top: 160px;
  left: 240px;
  z-index: 10;
  background-color: #2f343e;
  border: 1px solid #868fa2;
  border-radius: 6px;
  box-shadow: 2px 2px 5px 3px #0a0c0e;
  font-size: 0.9rem;
}

.addMenu .title {
  background-color: #4d5564;
  text-align: center;
  margin: 0;
  border-radius: 6px 6px 0 0;
  padding: 0.3rem;
  font-size: 1rem;
  font-weight: bold;
}

.addMenu.event .title {
  background-color: #008106;
}

.addMenu.status .title {
  background-color: #0074a3;
}

.addMenu.scene .title {
  background-color: #b2500c;
}

.addMenu .closeButton {
  position: absolute;
  right: 5px;
  cursor: pointer;
}

.addMenu .searchBar {
  appearance: none;
  position: relative;
  color: #efefef;
  background-color: #2f343e;
  border: none;
  border-top: 1px solid #868fa2;
  border-bottom: 1px solid #868fa2;
  border-radius: 0;
  outline: none;
  padding: 0.3rem;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1;
}

.addMenu .addButton {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0.3rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
}

.addButton .description {
  font-size: 0.7rem;
}

.verticalScroll {
  overflow-y: auto;
  max-height: 50vh;
  padding: 0.7rem;
}

.verticalScroll>div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 0.7rem;
  margin-left: 0.7rem;
}

.verticalScroll .divButton {
  width: 100%;
  padding: 0.2rem;
  border-bottom: 1px solid #868fa2;
  font-size: 1rem;
  cursor: pointer;
}

.verticalScroll .divButton:hover {
  outline: #efefef88 solid 2px;
  z-index: 11;
}

.verticalScroll .divButton.event {
  background-color: #008106;
}

.verticalScroll .divButton.status {
  background-color: #0074a3;
}

.verticalScroll .divButton.scene {
  background-color: #b2500c;
}

.configArea {
  position: absolute;
  background-color: #21242a;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  height: 100%;
  width: 100%;
}

.configArea>div {
  z-index: 1;
  min-width: 15rem;
  color: #efefef;
  background-color: #2f343e;
  border: 1px solid #868fa2;
  border-radius: 2px;
  box-shadow: 2px 2px 5px 3px #0a0c0e;
  font-size: 1rem;
  margin: 0 1rem;
  padding: 10px;
}

.configArea>div:first-of-type {
  margin-top: 4rem;
}

.configArea>div>input {
  appearance: none;
  background: transparent;
  color: #efefef;
  width: 5rem;
  border: none;
  border-radius: 0;
  outline: none;
  padding: 0;
  font-family: Inter, sans-serif;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  line-height: 1;
  font-size: 1rem;
}

.configArea>div>input[type="text"] {
  width: unset;
  text-align: left;
  border-bottom: 1px solid #bbb;
  margin-left: 10px;
}

.configArea .defaultScene {
  z-index: 10;
}

@keyframes flash {
  0% {
    background-color: #2f343e;
  }
  10%, 30% {
    background-color: #afafaf;
  }
  40%, 90% {
    background-color: #2f343e;
  }
}

.isEditing {
  animation: flash ease-in-out 1s infinite ;
}

.toggleSwitch {
  display: inline-block;
  background-color: #4d5564;
  border: 1px solid #bbb;
  cursor: pointer;
}

.toggleSwitch .toggleOption {
  display: inline-block;
  padding: 2px 10px;
}

.toggleSwitch .toggleOption.active {
  background-color: #ddd;
  color: #000;
}

.editArea {
  position: absolute;
  background-color: #21242a;
  background-image: radial-gradient(circle at 1px 1px, #636d81 1px, transparent 0), radial-gradient(circle at 40px 1px, #464c5a 1px, transparent 0), radial-gradient(circle at 1px 40px, #464c5a 1px, transparent 0);
  background-size: 80px 80px, 80px 80px, 80px 80px;
  height: 500%;
  width: 500%;
}

.box {
  position: absolute;
  z-index: 1;
  min-width: 15rem;
  background-color: #2f343e;
  border: 1px solid #868fa2;
  border-radius: 6px;
  box-shadow: 2px 2px 5px 3px #0a0c0e;
  font-size: 0.9rem;
  opacity: 0.7;
}

.editArea .box.row0 {
  top: 100px;
}

.editArea .box.row1 {
  top: 200px;
}

.editArea .box.row2 {
  top: 300px;
}

.editArea .box.row3 {
  top: 400px;
}

.editArea .box.row4 {
  top: 500px;
}

.editArea .box.row5 {
  top: 600px;
}

.editArea .box.row6 {
  top: 700px;
}

.editArea .box.row7 {
  top: 800px;
}

.editArea .box.row8 {
  top: 900px;
}

.editArea .box.row9 {
  top: 1000px;
}

.editArea .box.row10 {
  top: 1100px;
}

.editArea .box.row11 {
  top: 1200px;
}

.editArea .box.row12 {
  top: 1300px;
}

.editArea .box.row13 {
  top: 1400px;
}

.editArea .box.row14 {
  top: 1500px;
}

.editArea .box.row15 {
  top: 1600px;
}

.editArea .box.row16 {
  top: 1700px;
}

.editArea .box.row17 {
  top: 1800px;
}

.editArea .box.row18 {
  top: 1900px;
}

.editArea .box.row19 {
  top: 2000px;
}

.editArea .box:nth-child(12n + 1) {
  left: 50px;
}

.editArea .box:nth-child(12n + 2) {
  left: 350px;
}

.editArea .box:nth-child(12n + 3) {
  left: 650px;
}

.editArea .box:nth-child(12n + 4) {
  left: 950px;
}

.editArea .box:nth-child(12n + 5) {
  left: 1250px;
}

.editArea .box:nth-child(12n + 6) {
  left: 1550px;
}

.editArea .box:nth-child(12n + 7) {
  left: 1850px;
}

.editArea .box:nth-child(12n + 8) {
  left: 2150px;
}

.editArea .box:nth-child(12n + 9) {
  left: 2450px;
}

.editArea .box:nth-child(12n + 10) {
  left: 2750px;
}

.editArea .box:nth-child(12n + 11) {
  left: 3050px;
}

.editArea .box:nth-child(12n) {
  left: 3350px;
}

.box.focus {
  z-index: 2;
  opacity: 1;
}

.box>.title {
  text-align: center;
  border-radius: 6px;
  margin: 0;
  padding: 0.3rem;
  padding-top: 1.2rem;
  font-size: 1rem;
  font-weight: bold;
}

.box.focus>.title {
  border-radius: 6px 6px 0 0;
}

.box>.title>input {
  appearance: none;
  color: #efefef;
  background: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  padding: 0;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  line-height: 1;
}

.box.focus>.title>input {
  border-bottom: 1px solid #efefef;
}

.box>.title>div {
  font-size: 0.9rem;
}

.box>.title::after {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0.3rem;
  font-size: 0.8rem;
  font-weight: lighter;
}

.box>.title .itemId {
  font-size: 0.8rem;
  font-weight: lighter;
}

.box>.title .removeMenu {
  width: 100%;
  left: 0;
  top: 0.3rem;
  font-size: 0.8rem;
  font-weight: lighter;
  cursor: pointer;
}

.box>.title .removeMenu>div:hover {
  outline: #efefef88 solid 2px;
}

.box .subtitle {
  text-align: left;
  margin: 0;
  padding: 0.3rem;
}

.box>.node {
  position: absolute;
  top: 0.2rem;
  left: -0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #868fa2;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px #0a0c0e;
  cursor: pointer;
}

.box .addButton {
  position: relative;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0.3rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
}

.disableSelect {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.node.event {
  background-color: #008106;
}

.node.status {
  background-color: #0074a3;
}

.node.scene {
  background-color: #b2500c;
}

.node.group {
  background-color: #713d80;
}

.node.none {
  background-color: #4d5564;
}

.verticalList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.7rem;
  padding-top: 0;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.box.scene>.title {
  background-color: #b2500c;
}

.box.scene>.title::after {
  content: "Scene";
}

.box.scene .divButton {
  width: 100%;
  padding: 0.3rem;
  border-radius: 0 0 6px 6px;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}

.box.scene .divButton:hover {
  outline: #efefef88 solid 2px;
}

.box.group {
  background-color: transparent;
}

.box.group>.title {
  background-color: #713d80;
}

.box.group>.title::after {
  content: "Group";
}

.box.group .groupArea {
  position: relative;
  overflow: scroll;
  background-color: #713d8022;
  padding: 10px;
  min-width: 250px;
  min-height: 100px;
}

.box.group .placeholder {
  position: absolute;
  padding: 10px;
  color: #fffa;
}

.box.group .showCorner {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 3px;
  color: #fffa;
  cursor: pointer;
}

.box.group .resizeCorner {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 3px;
  color: #fffa;
  cursor: pointer;
}

.box.status>.title {
  background-color: #0074a3;
}

.box.status>.title::after {
  content: "Status";
}

.box.event>.title {
  background-color: #008106;
}

.box.event>.title::after {
  content: "Event";
}

.action {
  background-color: #4d5564;
  position: relative;
  width: 100%;
  border-radius: 3px;
  padding: 0.3rem;
  margin-left: 0.7rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
}

.action .openStatus {
  position: absolute;
  top: 0;
  right: 1rem;
  padding: 0.36rem;
  font-size: 0.8rem;
}

.action .deleteAction {
  position: absolute;
  background-color: #4d5564;
  top: 0;
  left: -1.1rem;
  padding: 0.36rem;
  border-radius: 3px 0 0 3px;
  font-size: 0.8rem;
}

.action>.node {
  position: absolute;
  top: 0.4rem;
  right: 0rem;
  width: 1rem;
  height: 1rem;
  border: 1px solid #868fa2;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px #0a0c0e;
}

.action .actionDetail {
  background-color: #2f343e;
  padding: 0.3rem;
  border-radius: 3px;
  margin-left: 0.7rem;
}

.action .editNote {
  padding-bottom: 0.2rem;
  text-align: right;
  font-size: 0.5rem;
}

.actionDetail .additionalInfo {
  position: relative;
  padding-top: .3rem;
  border-top: 1px solid #efefef;
}

.actionDetail .additionalInfo.noDivider {
  border-top: none;
}

.actionDetail>.additionalInfo>.additionalInfoDetail {
  background-color: #4d5564;
  padding: 0.3rem;
  border-radius: 3px;
  margin-left: 0.7rem;
}

.additionalInfo>.node {
  position: absolute;
  top: 0.4rem;
  right: 0rem;
  width: 1rem;
  height: 1rem;
  border: 1px solid #868fa2;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px #0a0c0e;
}

.actionDetail>.additionalInfo label {
  display: inline-block;
  min-width: 6rem;
}

.actionDetail>.additionalInfo input {
  appearance: none;
  color: #efefef;
  background: transparent;
  width: 5rem;
  border: none;
  border-radius: 0;
  outline: none;
  padding: 0;
  font-family: Inter, sans-serif;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  line-height: 1;
}

.actionDetail>.additionalInfo input[type="text"] {
  background-color: #2f343e;
  border: 1px solid #868fa2;
  border-radius: 0;
  width: 15rem;
  text-align: left;
}

.actionDetail>.additionalInfo div.toggleButton {
  color: #efefef;
  background-color: #2f343e;
  border: 1px solid #868fa2;
  border-radius: 0;
  width: 100%;
  outline: none;
  margin: 5px 0;
  padding: 5px 0;
  font-family: Inter, sans-serif;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  line-height: 1;
}

.addActionMenu {
  position: absolute;
  top: 0;
  left: 8rem;
  width: 160px;
  z-index: 10;
  background-color: #2f343e;
  border: 1px solid #868fa2;
  border-radius: 6px;
  box-shadow: 2px 2px 5px 3px #0a0c0e;
  font-size: 0.9rem;
}

.addActionMenu .title {
  background-color: #4d5564;
  text-align: center;
  margin: 0;
  border-radius: 6px 6px 0 0;
  padding: 0.3rem;
  font-size: 1rem;
  font-weight: bold;
}

.addActionMenu .addActionButton {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0.3rem;
  cursor: pointer;
  font-size: 1rem;
}

.addActionMenu .addActionButton:hover {
  outline: #efefef88 solid 2px;
  z-index: 11;
}

.state {
  background-color: #4d5564;
  position: relative;
  width: 100%;
  border-radius: 3px;
  padding: 0.3rem;
  margin-left: 0.7rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
}

.state .deleteState {
  position: absolute;
  background-color: #4d5564;
  top: 0;
  left: -1.1rem;
  padding: 0.36rem;
  border-radius: 3px 0 0 3px;
  font-size: 0.8rem;
}

.state>.node {
  position: absolute;
  top: 0.4rem;
  right: 0rem;
  width: 1rem;
  height: 1rem;
  border: 1px solid #868fa2;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px #0a0c0e;
}

.unmodifiableState {
  background-color: #4d5564;
  position: relative;
  width: calc(100% + 0.7rem);
  border-radius: 3px;
  padding: 0.3rem;
  margin-left: 0rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
}

.unmodifiableState .deleteState {
  position: absolute;
  background-color: #4d5564;
  top: 0;
  left: -1.1rem;
  padding: 0.36rem;
  border-radius: 3px 0 0 3px;
  font-size: 0.8rem;
}

.unmodifiableState>.node {
  position: absolute;
  top: 0.4rem;
  right: 0rem;
  width: 1rem;
  height: 1rem;
  border: 1px solid #868fa2;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px #0a0c0e;
}

.selectedEvent {
  background-color: #4d5564;
  position: relative;
  width: calc(100% - 1.3rem);
  border-radius: 3px;
  padding: 0.3rem;
  margin-left: 2rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
}

.selectedEvent .deleteEvent {
  position: absolute;
  background-color: #4d5564;
  top: 0;
  left: -1.1rem;
  padding: 0.36rem;
  border-radius: 3px 0 0 3px;
  font-size: 0.8rem;
}

.selectedEvent>.node {
  position: absolute;
  top: 0.4rem;
  right: 0rem;
  width: 1rem;
  height: 1rem;
  border: 1px solid #868fa2;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px #0a0c0e;
}

.box.none>.title {
  background-color: #4d5564;
}

.box.none>.title::after {
  content: "New Item";
}

.box.none .typeChooser {
  display: flex;
  flex-direction: row;
}

.box.none .divButton {
  width: 33.33%;
  padding: 0.3rem;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}

.box.none .divButton.event {
  background-color: #008106;
  border-radius: 0 0 0 6px;
}

.box.none .divButton.status {
  background-color: #0074a3;
  border-radius: 0;
}

.box.none .divButton.scene {
  background-color: #b2500c;
  border-radius: 0;
}

.box.none .divButton.group {
  background-color: #713d80;
  border-radius: 0 0 6px 0;
}

.box.none .divButton:hover {
  outline: #efefef88 solid 2px;
  z-index: 3;
}

.box.label>.title {
  background-color: #4d5564;
}

.box.label>.title::after {
  content: "New Item";
}

.box.label .typeChooser {
  display: flex;
  flex-direction: row;
}

.box.label .divButton {
  width: 33.33%;
  padding: 0.3rem;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}

.box.label .divButton.event {
  background-color: #008106;
  border-radius: 0 0 0 6px;
}

.box.label .divButton.status {
  background-color: #0074a3;
  border-radius: 0;
}

.box.label .divButton.scene {
  background-color: #b2500c;
  border-radius: 0 0 6px 0;
}

.box.label .divButton:hover {
  outline: #efefef88 solid 2px;
  z-index: 3;
}

/* Driving color choice: 282c34 */
