/* FIXME Test and then enable
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}*/

* {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

button {
  color: #fff;
  background-color: #2f343e;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 3px;
  box-shadow: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
}

button:disabled {
  background-color: #464c5a;
  cursor: auto;
}

button.inactive {
  background-color: #464c5a;
  cursor: auto;
}

button.red {
  background-color: #a84646;
}

button.green {
  background-color: #008106;
}

.logo {
  width: 7rem;
  pointer-events: none;
}

.header {
  background-color: #2f343e;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 2.5rem;
  border-bottom: 1px solid #464c5a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  box-shadow: 0 0 5px 3px #0a0c0e77;
}

.header .title {
  color: #1bbdff;
  padding: 1px 0 1px 20px;
}

.headerLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.headerRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

.menuButton {
  background-color: #2f343e;
  position: relative;
  padding: 3px 20px;
  border: 1px solid #464c5a;
  border-radius: 3px;
  margin: 0 20px;
  cursor: pointer;
}

.menuButton.selected {
  background-color: #0074a3;
}

.menuButton + .menuButton {
  margin-left: 0px;
}

.headerExpansion {
  background-color: #2f343e;
  position: absolute;
  top: 1.5rem;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 101;
  border: 1px solid #464c5a;
  border-radius: 3px;
}

.expansionMenuButton {
  padding: 5px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.expansionMenuButton + .expansionMenuButton {
  border-top: 1px solid #464c5a;
}

.footer {
  background-color: #2f343e;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 2.5rem;
  bottom: 0;
  border-top: 1px solid #464c5a;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  box-shadow: 0 0 5px 3px #0a0c0e77;
}

.footer div {
  padding: 1px 20px;
  margin: 0 20px;
}

.footer .footnote {
  font-size: 0.6rem;
}

.fullscreenDialog {
  position: fixed;
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #464c5aaa;
  z-index: 1000;
}

.dialogWindow {
  position: relative;
  display: inline-block;
  height: 20vw;
  width: 50vw;
  top: 10vw;
  left: 25vw;
  background-color: #464c5a;
  border: 2px solid #ddd;
  border-radius: 6px;
}

.dialogTitle {
  padding: 2vw;
  padding-top: 4vw;
  font-size: 3vw;
  text-align: center;
  width: 100%;
  background-color: #2f343e;
  border-radius: 6px 6px 0 0;
}

.dialogTitle.error {
  background-color: #a84646;
}

.dialogMessage {
  padding: 2vw;
  padding-top: 1vw;
  font-size: 1.8vw;
  text-align: center;
  width: 100%;
}

.viewArea {
  position: absolute;
  top: 2.5rem;
  height: calc(100vh - 2.5rem);
  width: 100vw;
  border: 2px solid #0a0c0e;
  border-radius: 10px;
  overflow: hidden;
}

.multiButton {
  display: flex;
  justify-content: space-evenly;
}

.multiButton>div {
  padding: 0.3rem;
  cursor: pointer;
}

.multiButton>div:hover {
  outline: #efefef88 solid 2px;
}

.sceneMenu {
  display: flex;
}

.sceneMenu .title {
  color: #fff;
  padding: 0.3rem;
  margin: 0;
  font-weight: normal;
}

.sceneMenu .select {
  color: #fff;
  background-color: #2f343e;
  appearance: none;
  position: relative;
  border: 1px solid #464c5a;
  border-radius: 3px;
  padding: 3px 10px;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1;
}

.verticalScroll {
  overflow-y: auto;
  max-height: 50vh;
  padding: 0.7rem;
}

.verticalScroll>div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 0.7rem;
  margin-left: 0.7rem;
}

.verticalScroll .divButton {
  width: 100%;
  padding: 0.2rem;
  border-bottom: 1px solid #868fa2;
  font-size: 1rem;
  cursor: pointer;
}

.verticalScroll .divButton:hover {
  outline: #efefef88 solid 2px;
  z-index: 11;
}

.verticalScroll .divButton.event {
  background-color: #008106;
}

.verticalScroll .divButton.status {
  background-color: #0074a3;
}

.verticalScroll .divButton.scene {
  background-color: #b2500c;
}

.editArea {
  position: absolute;
  background-color: #21242a;
  background-image: radial-gradient(circle at 1px 1px, #636d81 1px, transparent 0), radial-gradient(circle at 40px 1px, #464c5a 1px, transparent 0), radial-gradient(circle at 1px 40px, #464c5a 1px, transparent 0);
  background-size: 80px 80px, 80px 80px, 80px 80px;
  height: 500%;
  width: 500%;
}

.box {
  position: absolute;
  z-index: 1;
  min-width: 15rem;
  background-color: #2f343e;
  border: 1px solid #868fa2;
  border-radius: 6px;
  box-shadow: 2px 2px 5px 3px #0a0c0e;
  font-size: 0.9rem;
}

.editArea .box.row0 {
  top: 50px;
}

.editArea .box.row1 {
  top: 150px;
}

.editArea .box.row2 {
  top: 250px;
}

.editArea .box.row3 {
  top: 350px;
}

.editArea .box.row4 {
  top: 450px;
}

.editArea .box.row5 {
  top: 550px;
}

.editArea .box.row6 {
  top: 650px;
}

.editArea .box.row7 {
  top: 750px;
}

.editArea .box.row8 {
  top: 850px;
}

.editArea .box.row9 {
  top: 950px;
}

.editArea .box.row10 {
  top: 1050px;
}

.editArea .box.row11 {
  top: 1150px;
}

.editArea .box.row12 {
  top: 1250px;
}

.editArea .box.row13 {
  top: 1350px;
}

.editArea .box.row14 {
  top: 1450px;
}

.editArea .box.row15 {
  top: 1550px;
}

.editArea .box.row16 {
  top: 1650px;
}

.editArea .box.row17 {
  top: 1750px;
}

.editArea .box.row18 {
  top: 1850px;
}

.editArea .box.row19 {
  top: 1950px;
}

.editArea .box:nth-child(12n + 1) {
  left: 50px;
}

.editArea .box:nth-child(12n + 2) {
  left: 350px;
}

.editArea .box:nth-child(12n + 3) {
  left: 650px;
}

.editArea .box:nth-child(12n + 4) {
  left: 950px;
}

.editArea .box:nth-child(12n + 5) {
  left: 1250px;
}

.editArea .box:nth-child(12n + 6) {
  left: 1550px;
}

.editArea .box:nth-child(12n + 7) {
  left: 1850px;
}

.editArea .box:nth-child(12n + 8) {
  left: 2150px;
}

.editArea .box:nth-child(12n + 9) {
  left: 2450px;
}

.editArea .box:nth-child(12n + 10) {
  left: 2750px;
}

.editArea .box:nth-child(12n + 11) {
  left: 3050px;
}

.editArea .box:nth-child(12n) {
  left: 3350px;
}

.box>.title {
  text-align: center;
  border-radius: 6px;
  margin: 0;
  padding: 0.3rem;
  padding-top: 1.2rem;
  font-size: 1rem;
  font-weight: bold;
}

.box>.title>.subtitle {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0.3rem;
  font-size: 0.8rem;
  font-weight: lighter;
}

.box>.title>.note {
  font-size: 0.8rem;
  font-weight: lighter;
}

.verticalList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.7rem;
  padding-top: 0;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.box.scene {
  opacity: 0.5;
}

.box.scene>.title {
  background-color: #b2500c;
}

.box.status>.title {
  background-color: #0074a3;
}

.box.event>.title {
  background-color: #008106;
}

.box.group>.title {
  background-color: #713d80;
}

.box.group .groupArea {
  position: relative;
  overflow: hidden;
  background-color: #713d8022;
  padding: 10px;
  min-width: 250px;
  min-height: 100px;
}

@keyframes flash {
  0% {
    background-color: #2f343e;
  }
  10%, 30% {
    background-color: #afafaf;
  }
  40%, 90% {
    background-color: #2f343e;
  }
}

.state {
  background-color: #4d5564;
  position: relative;
  width: 100%;
  border-radius: 3px;
  padding: 0.3rem;
  margin-left: 0.7rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
}

.state .deleteState {
  position: absolute;
  background-color: #4d5564;
  top: 0;
  left: -1.1rem;
  padding: 0.36rem;
  border-radius: 3px 0 0 3px;
  font-size: 0.8rem;
}

.state>.node {
  position: absolute;
  top: 0.4rem;
  right: 0rem;
  width: 1rem;
  height: 1rem;
  border: 1px solid #868fa2;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px #0a0c0e;
}

.unmodifiableState {
  background-color: #4d5564;
  position: relative;
  width: calc(100% + 0.7rem);
  border-radius: 3px;
  padding: 0.3rem;
  margin-left: 0rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
}

.unmodifiableState .deleteState {
  position: absolute;
  background-color: #4d5564;
  top: 0;
  left: -1.1rem;
  padding: 0.36rem;
  border-radius: 3px 0 0 3px;
  font-size: 0.8rem;
}

.unmodifiableState>.node {
  position: absolute;
  top: 0.4rem;
  right: 0rem;
  width: 1rem;
  height: 1rem;
  border: 1px solid #868fa2;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px #0a0c0e;
}

.selectedEvent {
  background-color: #4d5564;
  position: relative;
  width: calc(100% - 1.3rem);
  border-radius: 3px;
  padding: 0.3rem;
  margin-left: 2rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
}

.selectedEvent .deleteEvent {
  position: absolute;
  background-color: #4d5564;
  top: 0;
  left: -1.1rem;
  padding: 0.36rem;
  border-radius: 3px 0 0 3px;
  font-size: 0.8rem;
}

.selectedEvent>.node {
  position: absolute;
  top: 0.4rem;
  right: 0rem;
  width: 1rem;
  height: 1rem;
  border: 1px solid #868fa2;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px #0a0c0e;
}

.box.none>.title {
  background-color: #4d5564;
}

.box.none>.title::after {
  content: "New Item";
}

.box.none .typeChooser {
  display: flex;
  flex-direction: row;
}

.box.none .divButton {
  width: 33.33%;
  padding: 0.3rem;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}

.box.none .divButton.event {
  background-color: #008106;
  border-radius: 0 0 0 6px;
}

.box.none .divButton.status {
  background-color: #0074a3;
  border-radius: 0;
}

.box.none .divButton.scene {
  background-color: #b2500c;
  border-radius: 0 0 6px 0;
}

.box.none .divButton:hover {
  outline: #efefef88 solid 2px;
  z-index: 3;
}

.box.label>.title {
  background-color: #4d5564;
}

.box.label>.title::after {
  content: "New Item";
}

.box.label .typeChooser {
  display: flex;
  flex-direction: row;
}

.box.label .divButton {
  width: 33.33%;
  padding: 0.3rem;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}

.box.label .divButton.event {
  background-color: #008106;
  border-radius: 0 0 0 6px;
}

.box.label .divButton.status {
  background-color: #0074a3;
  border-radius: 0;
}

.box.label .divButton.scene {
  background-color: #b2500c;
  border-radius: 0 0 6px 0;
}

.box.label .divButton.status {
  background-color: #0074a3;
  border-radius: 0;
}

.box.label .divButton:hover {
  outline: #efefef88 solid 2px;
  z-index: 3;
}

/* Driving color choice: 282c34 */
